.App {
    max-width: 1440px;
    margin-inline: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-container {
    width: 95%;
    max-width: 450px;
    margin-inline: auto;
}

.error {
    padding-top: .3rem;
    color: red;
    font-size: .5rem;
}